language: c

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
      env:
         - MATRIX_EVAL="CC=gcc-4.8 && CXX=g++-4.8"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

before_install:
    - eval "${MATRIX_EVAL}"
    - sudo apt-get update
    - sudo apt-get install autotools-dev
    - sudo apt-get install libltdl-dev
    - sudo apt-get install libtool
    - sudo apt-get install autoconf
    - sudo apt-get install autopoint
    - sudo apt-get install strace
    - sudo apt-get install gawk

script:
    - "scripts/bootstrap.sh"
    - "./configure --enable-debug && make check"
    - "cat ./test-suite.log"
    - "cat ./tests/*.log"
    - "for pathfile in `ls src/*.c`; do gcov $pathfile; done"

after_success:
    - bash <(curl -s https://codecov.io/bash)
